

<div  class="list-group col-sm-8">

    <h2>Agregar Prestamo a la Base de datos</h2>
    <div>
      <div class="form-group">
        <label>Numero de Prestamo:</label>
        <small>====>{{prestamo.numeroPrestamo}}
          <strong>Nota:</strong>Este es el proximo codigo disponible</small>
      </div>
  
      <div class="form-group">
        <label>Cliente:</label>
        <select required name="cliente" [(ngModel)]="prestamo.cliente">
          <option value="default">Seleccione el cliente</option>
          <option *ngFor="let cliente of listaCliente">{{cliente.nombre}}</option>
        </select>
        <a class="fa fa-plus-square-o btn btn-link" routerLink="/add-cliente">Agregar nuevo cliente</a>
      </div>
  
  
      <div class="form-group">
        <label>Capital Prestado :</label>
        <input required type="number" [(ngModel)]="prestamo.capitalPrestado" class="form-control"
         id="capital" name="capital" required (blur)="calcularMontoCuota()">
      </div>
  
      <div class="form-group">
        <label>Tasa:</label>
        <input (blur)="calcularMontoCuota()" required type="number" [(ngModel)]="prestamo.tasa" step=".01" class="form-control" id="Tasa" name="tasa" placeholder="%"
          required required (blur)="calcularMontoCuota()">
      </div>
  
      <div class="form-group">
        <label>Cantidad de cuotas:</label>
        <input type="number" [(ngModel)]="prestamo.cantidadCuotas" class="form-control" 
        id="cantCuotas" name="cantCuota" required (blur)="calcularMontoCuota()">
      </div>
  
      <div class="form-group">
  
      <label>Monto cuotas:</label>
  
      <div class="input-group">
        <input type="number" step=".01" class="form-control" id="cuota" name="cuota"  [(ngModel)]="prestamo.montoCuotas"
          required>
        <div class="input-group-btn">
          <a class="btn btn-default" (click)="calcularMontoCuota()" >
            <i  aria-hidden="true">Calculate</i>
          </a>
        </div>
        </div>
      </div>
  
  
  
      <div class="form-group">
        <label>Fecha de inicio</label>
        <input type="date" [(ngModel)]="prestamo.fechaInicio" class="form-control" id="FechaInicio" name="fechaInicio" required>
      </div>
      <div class="form-group">
        <label>Dia del mes que se paga</label>
        <input type="number" max="30" min="1" [(ngModel)]="prestamo.diaPagoMes" class="form-control" id="FechaPago" name="FechaPago"
          required>
      </div>
      <div class="form-group">
        <label>Notas</label>
        <input type="text=" class="form-control" id="notas" placeholder="agregar notas" name="notas">
      </div>
      <button type="submit" class="btn btn-default" (click)="onSubmit()">Submit</button>
    </div>
  
    <div>
      <button type="submit" class="btn btn-default" (click)="calcularMontoCuota()">Calcular</button>
  
    </div>