<div class="example-container mat-elevation-z20">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let cuota"> {{cuota[0]}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="capital">
      <mat-header-cell *matHeaderCellDef> Capital </mat-header-cell>
      <mat-cell *matCellDef="let cuota"> {{cuota[1]|currency}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="interes">
      <mat-header-cell *matHeaderCellDef> Interes </mat-header-cell>
      <mat-cell *matCellDef="let cuota"> {{cuota[2]|currency}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="saldo">
      <mat-header-cell *matHeaderCellDef> Saldo </mat-header-cell>
      <mat-cell *matCellDef="let cuota"> {{cuota[3]|currency}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>