<div class="list-group">

  <div class="form-inline">

    <!-- Trigger the modal with a button -->
    <a class="btn btn-link" data-toggle="modal" data-target="#myModal">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      Editar Mov Seleccionado
    </a>

    <a class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Opciones
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a class="btn btn-link" (click)="seleccionarTipoMov('desembolso')" data-toggle="modal" data-target="#myModal1">Introducir Desembolso</a>
      </li>
      <li>
        <a class="btn btn-link" (click)="seleccionarTipoMov('pago')" data-toggle="modal" data-target="#myModal1">Introducir Pago</a>
      </li>
    </ul>
  </div>
  <div style="overflow-x:auto;">

    <table class="table table-hover condensed">
      <thead>
        <tr>
          <th>Tipo Mov.</th>
          <th>FechaTran</th>
          <th>InteresDelPago</th>
          <th>CapitalDelPago</th>
          <th>Monto Prestado</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movimiento of listaMovimientos" (click)="onSelect(movimiento)" [ngClass]="{'active':movimiento==movimientoActual}">
          <td>{{movimiento.tipoMovimiento}}</td>
          <td>{{movimiento.fechaTransaccion| date}}</td>
          <td>{{movimiento.interesDelPago| currency}}</td>
          <td>{{movimiento.capitalDelPago| currency}}
          </td>
          <td>{{movimiento.montoPrestado| currency}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>







  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" *ngIf="movimientoActual">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modificar movimiento</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="">


            <div class="form-group">
              <label class="control-label col-sm-2" for="tiopMovimiento">Tipo Movimiento:</label>
              <div class="col-sm-10">
                  <select  [disabled]="movimientoActual.tipoMovimiento=='inicial'" name="tipoMovimiento" id="tipoMovimiento" [(ngModel)]="movimientoActual.tipoMovimiento">
                      <option disabled value="inicial">Inicial</option>
                      <option value="pago">Pago</option>
                      <option value="desembolso">Desembolso</option>
                    </select>
 
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="fechaTransaccio">Fecha Transaccion:</label>
              <div class="col-sm-10">
                <input [(ngModel)]="movimientoActual.fechaTransaccion" name="fechaTransaccion" type="Date" class="form-control" id="email"
                  placeholder="Enter email">
              </div>
            </div>

            <div class="form-group" *ngIf="movimientoActual.tipoMovimiento=='pago'">
              <label class="control-label col-sm-2" for="interesDelPago">Interes del Pago:</label>
              <div class="col-sm-10">
                <input [(ngModel)]="movimientoActual.interesDelPago" name="interesDelPago" type="number" class="form-control" id="interesDelPago"
                  placeholder="N/A">
              </div>
            </div>

            <div class="form-group" *ngIf="movimientoActual.tipoMovimiento=='pago'">
              <label class="control-label col-sm-2" for="capitalDelPago">Capital del Pago:</label>
              <div class="col-sm-10">
                <input [(ngModel)]="movimientoActual.capitalDelPago" name="capitalDelPago" type="number" class="form-control" id="capitalDelPago"
                  placeholder="N/A">
              </div>
            </div>

            <div class="form-group" *ngIf="movimientoActual.tipoMovimiento!='pago'">
              <label class="control-label col-sm-2" for="montoPrestado">Monto Prestado:</label>
              <div class="col-sm-10">
                <input  [(ngModel)]="movimientoActual.montoPrestado" name="montoPrestado" type="number" class="form-control" id="montoPrestado"
                  placeholder="N/A">
              </div>
            </div>



            <div class="form-group" *ngIf="movimientoActual.tipoMovimiento=='pago'">
              <label class="control-label col-sm-2" for="capitalDelPago">Monto Total:</label>
              <div class="col-sm-10">
                <input [(ngModel)]="movimientoActual.montoTotal" name="montoTotal" type="number" class="form-control" id="montoTotal" placeholder="N/A">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="capitalDelPago">Notas:</label>
              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="movimientoActual.notas" name="notas" id="notas" cols="30" rows="5"></textarea>

              </div>
            </div>


          </form>

        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default" (click)="modificarMovimiento()" data-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>

    </div>
  </div>


  <!-- Modal1 -->
  <div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" *ngIf="movimientoActual">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Agregar movimiento</h4>
        </div>
        <div class="modal-body">
          <app-form-movimiento [prestamo]="prestamo"  [tipoMovimiento]="tipoMovimiento"></app-form-movimiento>
        </div>
        <div class="modal-footer">

        </div>
      </div>

    </div>
  </div>
</div>