<div class="form-inline">
  <button mat-button (click)="openModificarMovimiento()">Modificar movimiento
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </button>
  <button mat-button (click)='borrarMovimiento()'>
    Borrar mov
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="openInsertarMovimiento('desembolso')">Introducir Desembolso</button>
    <button mat-menu-item (click)="openInsertarMovimiento('pago')">Introducir Pago</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
    Opciones
  </button>
</div>
<div style="overflow-x:auto;">
  <table class="table table-hover condensed">
    <thead>
      <tr>
        <th>Tipo Mov.</th>
        <th>FechaTran</th>
        <th>InteresDelPago</th>
        <th>CapitalDelPago</th>
        <th>Monto Prestado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movimiento of listaMovimientos" (click)="onSelect(movimiento)" [ngClass]="{'active':movimiento==movimientoActual}">
        <td>{{movimiento.tipoMovimiento}}</td>
        <td>{{movimiento.fechaTransaccion|date}}</td>
        <td>{{movimiento.interesDelPago| currency}}</td>
        <td>{{movimiento.capitalDelPago| currency}}</td>
        <td>{{movimiento.montoPrestado| currency}}</td>
      </tr>
    </tbody>
  </table>
</div>