<div class="row">
  <div class="col-sm-6 " >
    <table class="table table-hover condensed">
  <thead>
    <tr>
      <th>Tipo Mov.</th>
      <th>FechaTran</th>
      <th>interesDelPago</th>
      <th>capitalDelPago</th>
      <th>Capital Prestado</th>
      <th>montoTotal</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movimiento of listaMovimientos" (click)="onSelect(movimiento)" [ngClass]="{'active':movimiento==movimientoActual}">
      <td>{{movimiento.tipoMovimiento}}</td>
      <td>{{movimiento.fechaTransaccion}}</td>
      <td>{{movimiento.interesDelPago}}</td>
      <td>{{movimiento.capitalDelPago}}</td>
      <td>{{movimiento.capitalPrestado}}</td>
      <td>{{movimiento.interesDelPago+movimiento.capitalDelPago}}</td>

    </tr>
  </tbody>
</table>
</div></div>
