<div class="list-group" class="col-sm-8" >
  <h2>Agregar movimiento al prestamo</h2>



  <form >

    <div class="form-group">
      <label>Numero de Prestamo </label>
      <label class="form-control" disabled>{{prestamo.numeroPrestamo}}</label> 

    </div>

    <div class="form-group">
      <label id="cliente">Cliente</label>
      <label class="form-control" disabled>{{prestamo.cliente}}</label> 

      
    </div>

    <div class="form-group">
      <label id="cliente">Tipo de Movimiento</label>
      <select name="tipoMovimiento" id="tipoMovimiento" [(ngModel)]="tipoMovimiento">
        <option value="pago">pago</option>
        <option value="desembolso">desembolso</option>
      </select>
    </div>
    <div class="form-group" *ngIf="tipoMovimiento=='desembolso'">
        <label>Monto prestado:</label>
        <input type="number" class="form-control" id="montoPrestado" placeholder="montoPrestado" name="montoPrestado" [(ngModel)]="movimiento.montoPrestado">
        <div class="alert alert-danger" *ngIf="errorMontoPrestado">
          <strong>error!</strong> El monto prestado puede ir vacio !
        </div>
      </div>
      <div *ngIf="tipoMovimiento=='pago'">
    <div class="form-group" >
      <label>Interes del Pago:</label>
      <input type="number" class="form-control" id="interesDelPago" placeholder="interesDelPago" name="interesDelPago" [(ngModel)]="movimiento.interesDelPago">
      <div class="alert alert-danger" *ngIf="errorInteresOCapital">
        <strong>error!</strong> Introduzca el interes o el capital del pago !
      </div>
    </div>
    <div class="form-group" >
      <label>Capital del pago:</label>
      <input type="number" class="form-control" id="capitalDelPago" placeholder="capitalDelPago" name="capitalDelPago" [(ngModel)]="movimiento.capitalDelPago">
    </div>
    <div class="form-group" >
      <label>Monto Total:</label >
      <label  class="form-control" id="montoTotal" placeholder="Monto total" name="montoTotal" >
        {{movimiento.interesDelPago+movimiento.capitalDelPago}}
      </label>
    </div>
    
    <div >
      <label>Fecha Correspondiente</label>
      <input type="Date" class="form-control" id="fechaCorrespondiente" placeholder="Fecha Correspondiente" name="fechaCorrespondiente"
        [(ngModel)]="movimiento.fechaCorrespondiente">
    </div>
  </div>
    <div>
      <label>Fecha transaccion</label>
      <input [ngModel]="movimiento.fechaTransaccion|date:'yyyy-MM-dd'" name="fechaTransaccion" type="Date" class="form-control" id="fechaTransaccion"
      placeholder="Fecha" (ngModelChange)="movimiento.fechaTransaccion = $event">
    </div>

    <div class="form-group">
      <label>Notas</label>
      <input type="text=" class="form-control" id="notas" placeholder="agregar notas" name="notas" [(ngModel)]="movimiento.notas">
    </div>
    <button   class="btn btn-default" (click)="insertarMovimiento()" data-dismiss="modal">Guardar</button>

  </form>

</div>

