<h1 mat-dialog-title>Agregar Movimiento</h1>
<mat-dialog-content>
  <div class="list-group" class="col-sm-8">
    <div class="form-group">
      <label>Numero de Prestamo </label>
      <label class="form-control" disabled>{{prestamo.numeroPrestamo}}</label>
    </div>
    <div class="form-group">
      <label id="cliente">Cliente</label>
      <label class="form-control" disabled>{{prestamo.cliente}}</label>
    </div>
    <mat-form-field>
      <mat-select (change)="cambioTipoMovimiento()" [(value)]="movimiento.tipoMovimiento" placeholder="Tipo de Movimiento">
        <mat-option value="pago">pago </mat-option>
        <mat-option value="desembolso">desembolso </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="movimiento.tipoMovimiento=='desembolso'">
      <input matInput type="number" placeholder="Monto prestado:" id="montoPrestado" name="montoPrestado" [(ngModel)]="movimiento.montoPrestado">
      <div class="alert alert-danger" *ngIf="errorMontoPrestado">
        <strong>error!</strong> El monto prestado no puede ser 0 !
      </div>
    </mat-form-field>
    <div *ngIf="movimiento.tipoMovimiento=='pago'">
      <mat-form-field>
        <input matInput type="number" placeholder="interes Del Pago :" id="interesDelPago" name="interesDelPago" [(ngModel)]="movimiento.interesDelPago">
        <div class="alert alert-danger" *ngIf="errorInteresOCapital">
          <strong>error!</strong> Introduzca el interes o el capital del pago !
        </div>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Capital del pago :" id="capitalDelPago" name="capitalDelPago" [(ngModel)]="movimiento.capitalDelPago">
      </mat-form-field>
      <div class="form-group">
        <label>Monto Total:</label>
        <label class="form-control" id="montoTotal" placeholder="Monto total" name="montoTotal">
          {{movimiento.interesDelPago+movimiento.capitalDelPago}}
        </label>
      </div>
      <!--    <mat-form-field>
        <input matInput type="Date" placeholder="Fecha correspondiente :" id="fechaCorrespondiente" name="fechaCorrespondiente" [(ngModel)]="movimiento.fechaCorrespondiente">
      </mat-form-field>
   
 -->
    </div>
    <mat-form-field>
      <input matInput [matDatepicker]="fechaCorrespondiente" placeholder="Fecha correspondiente" (dateChange)="movimiento.fechaCorrespondiente=formatFecha($event)"
        [value]="movimiento.fechaCorrespondiente">
      <mat-datepicker-toggle matSuffix [for]="fechaCorrespondiente"></mat-datepicker-toggle>
      <mat-datepicker #fechaCorrespondiente></mat-datepicker>
    </mat-form-field>

    <!--     <mat-form-field>
      <input matInput type="Date" placeholder="Fecha transaccion" id="fechaTransaccion" name="fechaTransaccion" [ngModel]="movimiento.fechaTransaccion|date:'yyyy-MM-dd'"
        (ngModelChange)="movimiento.fechaTransaccion = $event">
    </mat-form-field> -->

    <mat-form-field>
      <input matInput [matDatepicker]="fechaTransaccion" placeholder="Fecha transaccion" (dateChange)="movimiento.fechaTransaccion=formatFecha($event)"
        [value]="movimiento.fechaTransaccion">
      <mat-datepicker-toggle matSuffix [for]="fechaTransaccion"></mat-datepicker-toggle>
      <mat-datepicker #fechaTransaccion></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="agregar notas" id="fechaTransaccion" name="notas" [(ngModel)]="movimiento.notas">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="insertarMovimiento()">Guardar</button>
</mat-dialog-actions>