<div class="list-group" class="col-sm-8">
  <h2>Agregar movimiento al prestamo</h2>



  <form action="" method="">

    <div class="form-group">
      <label>Numero de Prestamo </label>
      <label class="form-control" disabled>{{prestamo.numeroPrestamo}}</label> 

    </div>

    <div class="form-group">
      <label id="cliente">Cliente</label>
      <label class="form-control" disabled>{{prestamo.cliente}}</label> 

      
    </div>

    <div class="form-group">
      <label id="cliente">Tipo de Movimiento</label>
      <select name="tipoMovimiento" id="tipoMovimiento" [(ngModel)]="tipoMovimiento">
        <option value="pago">pago</option>
        <option value="desembolso">desembolso</option>
      </select>
    </div>
    <div class="form-group" *ngIf="tipoMovimiento=='desembolso'">
        <label>Monto prestado:</label>
        <input type="number" class="form-control" id="montoPrestado" placeholder="montoPrestado" name="montoPrestado" [(ngModel)]="movimiento.montoPrestado">
      </div>
      <div *ngIf="tipoMovimiento=='pago'">
    <div class="form-group" >
      <label>Interes del Pago:</label>
      <input type="number" class="form-control" id="interesDelPago" placeholder="interesDelPago" name="interesDelPago" [(ngModel)]="movimiento.interesDelPago">
    </div>
    <div class="form-group" >
      <label>Capital del pago:</label>
      <input type="number" class="form-control" id="capitalDelPago" placeholder="capitalDelPago" name="capitalDelPago" [(ngModel)]="movimiento.capitalDelPago">
    </div>
    <div class="form-group" >
      <label>Monto Total:</label >
      <label type="number" class="form-control" id="montoTotal" placeholder="Monto total" name="montoTotal" >
        {{movimiento.interesDelPago+movimiento.capitalDelPago}}
      </label>
    </div>
    <div >
      <label>Fecha Correspondiente</label>
      <input type="Date" class="form-control" id="fechaCorrespondiente" placeholder="Fecha Correspondiente" name="fechaCorrespondiente"
        [(ngModel)]="movimiento.fechaCorrespondiente">
    </div>
  </div>
    <div>
      <label>Fecha transaccion</label>
      <input type="Date" class="form-control" id="fechaTransaccion" placeholder="Fecha transaccion" name="fechaTransaccion" [(ngModel)]="movimiento.fechaTransaccion">
    </div>

    <div class="form-group">
      <label>Notas</label>
      <input type="text=" class="form-control" id="notas" placeholder="agregar notas" name="notas" [(ngModel)]="movimiento.notas">
    </div>



    <button data-dismiss="modal" type="submit" class="btn btn-default" (click)="insertarMovimiento()">Submit</button>

  </form>

</div>