<div class="list-group col-sm-8" >
  <h1>Lista de Clientes</h1>
  <a class="fa fa-plus-square-o btn btn-link" routerLink="/add-cliente">Agregar nuevo cliente</a>
  <a type="button" class="fa fa-times btn btn-link" (click)="borrarCliente()">Borrar Seleccionado</a>

  <button href="#" *ngFor="let cliente of listaCliente" (click)="onSelect(cliente)" [ngClass]="{'list-group-item': true,'active':cliente==clienteActual}">
    {{cliente.nombre}}
  </button>
  <br> 


<div class="container" *ngIf='clienteActual'>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#userdetail">Mostrar/Ocultar Dettalles</button>
  <div id="userdetail" class="collapse">
      <app-user-detail [cliente]=clienteActual></app-user-detail>
  </div>
</div>







