<div class="list-group" class="col-sm-8">
  <h2>Agregar Prestamo a la Base de datos</h2>
  <div>
    <div class="form-group">
      <label>Numero de Prestamo:</label>
      <small>====>{{prestamo.numeroPrestamo}}
        <strong>Nota:</strong>Este es el proximo codigo disponible</small>
    </div>

    <div class="form-group">
      <label>Cliente:</label>
      <select required name="cliente" [(ngModel)]="prestamo.cliente">
        <option value="default">Seleccione el cliente</option>
        <option *ngFor="let cliente of listaCliente">{{cliente.nombre}}</option>
      </select>
      <div class="alert alert-danger"  *ngIf="errorCliente">
          <strong>error!</strong> Debe Seleccionar el cliente !
        </div>
      <a class="fa fa-plus-square-o btn btn-link" routerLink="/add-cliente">Agregar nuevo cliente</a>
    </div>


    <div class="form-group">
      <label>Capital Prestado :</label>
      <input (blur)="calcularMontoCuota()" required type="number" [(ngModel)]="prestamo.capitalPendiente" [(ngModel)]="prestamo.capitalPrestado" class="form-control" id="capital" name="capital" required>
      <div class="alert alert-danger"  *ngIf="errorCapitalInicial">
          <strong>error!</strong> El capital Inicial no puede ser 0 !
        </div>
    </div>

    <div class="form-group">
      <label>Tasa:</label>
      <input (blur)="calcularMontoCuota()" required type="number" [(ngModel)]="prestamo.tasa" step=".01" class="form-control" id="Tasa" name="tasa" placeholder="%"
        required>
    </div>

    <div class="form-group">
      <label>Cantidad de cuotas:</label>
      <input (blur)="calcularMontoCuota()" type="number" [(ngModel)]="prestamo.cantidadCuotas" class="form-control" id="cantCuotas" name="cantCuota">
    </div>

    <div class="form-group">
      <label>Monto cuotas:</label>
      <input type="number" [(ngModel)]="prestamo.montoCuotas" class="form-control" id="cuota" name="cuota">
      <div class="alert alert-danger" *ngIf="errorMontoCuotas">
          <strong>error!</strong> El Monto no puede ser 0 !
        </div>
    </div>


    <div class="form-group">
      <label>Fecha de inicio</label>
      <input [ngModel] =" prestamo.fechaInicio| date:'yyyy-MM-dd'"  (ngModelChange)="prestamo.fechaInicio = $event" type="date"  class="form-control" id="FechaInicio" name="fechaInicio" required>
      
    </div>
    <div class="form-group">
      <label>Dia del mes que se paga</label>
      <input type="number" max="30" min="1" [(ngModel)]="prestamo.diaPagoMes" class="form-control" id="FechaPago" name="FechaPago"
        required>

    </div>
    <div class="form-group">
      <label>Notas</label>
      <input type="text=" class="form-control" id="notas" placeholder="agregar notas" name="notas">
    </div>
    <button type="submit" class="btn btn-default" (click)="onSubmit()">Submit</button>
  </div>

</div>