<h1 mat-dialog-title>Agregar Prestamo </h1>
<mat-dialog-content>

  <div class="list-group" class="col-sm-8">
    <div class="form-group">
      <label>Numero de Prestamo:</label>
      ====>{{prestamo.numeroPrestamo}}
    </div>

    <mat-form-field>
      <mat-select [(value)]="prestamo.cliente" placeholder="Seleccione el cliente">
        <mat-option>
          <button mat-button color="primary" (click)="abrirModalFormClientes()">Agregar nuevo cliente</button>
        </mat-option>
        <mat-option [value]="cliente.nombre" *ngFor="let cliente of listaCliente">{{cliente.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="errorCliente">
      <strong>error!</strong> Debe Seleccionar el cliente !
    </div>


    <mat-form-field>
      <input (blur)="calcularMontoCuota()" matInput type="number" placeholder="Capital prestado" id="capitalPrestado" name="capitalPrestado"
        [(ngModel)]="prestamo.capitalPrestado">
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="errorCapitalInicial">
      <strong>error!</strong> El capital Inicial no puede ser 0 !
    </div>

    <mat-form-field>
      <input (blur)="calcularMontoCuota()" matInput type="number" placeholder="Tasa" id="capitalPrestado" name="tasa" [(ngModel)]="prestamo.tasa">
    </mat-form-field>
    <mat-form-field color="primary">
      <mat-select placeholder="Tipo tasa">
        <mat-option value='mensual'>Mensual</mat-option>
        <mat-option value='anual'>Anual</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <input (blur)="calcularMontoCuota()" matInput type="number" placeholder="Cantidad de cuotas" id="cantidadCuotas" name="cantidadCuotas"
        [(ngModel)]="prestamo.cantidadCuotas">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Monto cuotas" id="montoCuotas" name="montoCuotas" [(ngModel)]="prestamo.montoCuotas">
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="errorMontoCuotas">
      <strong>error!</strong> El Monto no puede ser 0 !
    </div>

    <mat-form-field>
      <input matInput [matDatepicker]="fechaInicio" placeholder="Fecha de inicio" (dateChange)="prestamo.fechaInicio=formatFecha($event)"
        [value]="prestamo.fechaInicio">
      <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
      <mat-datepicker #fechaInicio></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="fechaProximoPago" placeholder="Fecha primer pago" (dateChange)="prestamo.fechaProximoPago=formatFecha($event)"
        [value]="prestamo.fechaProximoPago">
      <mat-datepicker-toggle matSuffix [for]="fechaProximoPago"></mat-datepicker-toggle>
      <mat-datepicker #fechaProximoPago></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Notas" id="notas" name="notas" [(ngModel)]="prestamo.notas">
    </mat-form-field>

  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="crearPrestamo()">Guardar</button>
</mat-dialog-actions>