<div class="mat-elevation-z4">
  <div class="form-inline ">
    <button mat-button *ngIf="editMode " (click)="guardar() ">
      <i class="fa fa-floppy-o " aria-hidden="true "></i>
      Guardar
    </button>
    <button mat-button (click)="toggleEditMode() ">
      <i *ngIf="!editMode " class="fa fa-pencil-square-o " aria-hidden="true "></i>
      <span *ngIf="!editMode ">Editar</span>
      <span *ngIf="editMode ">Cancelar</span>
    </button>
  </div>

  <mat-grid-list class="mat-grid" cols="3 " rowHeight="70px " *ngIf="!editMode ">
    <mat-grid-tile>
      <div>
        <label for="cliente ">ID:</label>
        <span class=" ">{{prestamo.numeroPrestamo}}</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <label for="cliente ">Cliente:</label>
        <span *ngIf="!editMode ">{{prestamo.cliente}}</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <label for="cliente ">Tasa:</label>
        <span *ngIf="!editMode ">{{prestamo.tasa}} %</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <label *ngIf="!editMode " for="cliente ">Capital Prestado:</label>
        <span *ngIf="!editMode ">{{prestamo.capitalPrestado| currency}} </span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <label for="cliente ">Cant. de Cuotas:</label>
        <span *ngIf="!editMode ">{{prestamo.cantidadCuotas}} </span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <label for="cliente ">Monto de Cuotas:</label>
        <span *ngIf="!editMode ">{{prestamo.montoCuotas| currency}} </span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <label for="cliente ">Fecha Apertura:</label>
        <span *ngIf="!editMode ">{{prestamo.fechaInicio| date}} </span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div #fechaProximoPago>
        <label for="fechaProxPago ">Fecha prox. pago:</label>
        {{prestamo.fechaProximoPago|date}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <label>Capital Pend:</label>
        <span>{{prestamo.capitalPendiente| currency}}</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <label>Monto Atraso:</label>
        <span>{{montoAtraso|currency}} </span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <label>Pagado Capital:</label>
        <span>{{prestamo.pagadoCapital| currency}} </span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <label>Notas</label>
        <span>{{prestamo.notas}} </span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- /Controles de Guardar y Opciones-->


  <!--  Editar Prestamo -->
  <div *ngIf="editMode " class="editarPrestamo">
    <label for="cliente ">ID:</label>
    {{prestamo.numeroPrestamo}}
    <br>
    <mat-form-field>
      <mat-select placeholder="Seleccione el cliente " [(value)]="prestamo.cliente ">
        <mat-option [value]="cliente.nombre " *ngFor="let cliente of listaCliente ">
          {{cliente.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Tasa" [(ngModel)]="prestamo.tasa " (blur)="calcularMontoCuota()">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Capital Inicial" [(ngModel)]="movimiento.montoPrestado" (blur)="calcularMontoCuota()">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Cantidad cuotas " [(ngModel)]="prestamo.cantidadCuotas " (blur)="calcularMontoCuota()">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Monto de cuotas " [(ngModel)]="prestamo.montoCuotas ">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="fechaInicio" placeholder="Fecha de inicio" (dateChange)="prestamo.fechaInicio=formatFecha($event)"
        [value]="prestamo.fechaInicio">
      <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
      <mat-datepicker #fechaInicio></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="fechaProximoPago" placeholder="Fecha proximo pago" (dateChange)="prestamo.fechaProximoPago=formatFecha($event)"
        [value]="prestamo.fechaProximoPago">
      <mat-datepicker-toggle matSuffix [for]="fechaProximoPago"></mat-datepicker-toggle>
      <mat-datepicker #fechaProximoPago></mat-datepicker>
    </mat-form-field>
  </div>
</div>