<!-- /Controles de Guardar y Opciones-->

<div class="form-inline">
  <a class="btn btn-link" *ngIf="editMode" (click)="save()">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
    Guardar
  </a>

  <a class="btn btn-link" *ngIf="!editMode" (click)="toggleEditMode()">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    Editar
  </a>
</div>

<!-- /Controles de Guardar y Opciones-->



<h5>Detalles:</h5>


<div>
  <div class="form-horizontal">

    <div class="form-group ">
      <label class="control-label col-sm-2" for="cliente">ID:</label>
      <div class="col-sm-4">
        <span class="">{{prestamo.numeroPrestamo}}</span>
      </div>
    </div>

    <div class="form-group ">
      <label class="control-label col-sm-2" for="cliente">Cliente:</label>
      <div class="col-sm-4">
        <span *ngIf="!editMode" class="form-control">{{prestamo.cliente}}</span>
        <input *ngIf="editMode" [(ngModel)]="prestamo.cliente" class="form-control">
      </div>
    </div>

    <div class="form-group ">
      <label class="control-label col-sm-2" for="cliente">Tasa:</label>
      <div class="col-sm-4">
        <span *ngIf="!editMode" class="form-control">{{prestamo.tasa}} %</span>
        <input type="number" *ngIf="editMode" [(ngModel)]="prestamo.tasa" placeholder="tasa" class="form-control">
      </div>
    </div>

  <!--   <div class="form-group ">
      <label class="control-label col-sm-2" for="cliente">Tipo de Interes:</label>
      <div class="col-sm-4">
        <span class="form-control" *ngIf="!editMode">{{prestamo.tipoInteres}}</span>
        <input *ngIf="editMode" [(ngModel)]="prestamo.tipoInteres" placeholder="tipoInteres" class="form-control">
      </div>
    </div>
 -->

    <div class="form-group ">
      <label class="control-label col-sm-2" *ngIf="!editMode" for="cliente">Capital Prestado:</label>
      <label class="control-label col-sm-2" *ngIf="editMode" for="cliente">Capital Inicial:</label>

      <div class="col-sm-4">
        <span class="form-control" *ngIf="!editMode">{{prestamo.capitalPrestado| currency}} </span>
        <input data-toggle="tooltip" title="Para modificar, vaya al movimiento de tipo 'inicial' !" *ngIf="editMode"  type="number" [(ngModel)]="movimiento.montoPrestado" placeholder="capitalInicial" class="form-control">
      </div>
    </div>

    <div class="form-group ">
      <label class="control-label col-sm-2" for="cliente">Cant. de Cuotas:</label>
      <div class="col-sm-4">
        <span class="form-control" *ngIf="!editMode">{{prestamo.cantidadCuotas}} </span>

        <input *ngIf="editMode" [(ngModel)]="prestamo.cantidadCuotas" placeholder="Monto Cuotas" class="form-control">
      </div>
    </div>
    
    <div class="form-group ">
      <label class="control-label col-sm-2" for="cliente">Monto de Cuotas:</label>
      <div class="col-sm-4">
        <span class="form-control" *ngIf="!editMode">{{prestamo.montoCuotas| currency}} </span>
        <input *ngIf="editMode" type="number" [(ngModel)]="prestamo.montoCuotas" placeholder="Monto Cuotas" class="form-control">
      </div>
    </div>




    <div class="form-group ">
      <label class="control-label col-sm-2" for="cliente">Fecha Apertura:</label>
      <div class="col-sm-4">
        <span class="form-control" *ngIf="!editMode">{{prestamo.fechaInicio| date}} </span>

        <input *ngIf="editMode" [ngModel] =" prestamo.fechaInicio| date:'yyyy-MM-dd'"  (ngModelChange)="prestamo.fechaInicio = $event" type="date"  class="form-control" id="FechaInicio" name="fechaInicio" required>

      </div>
     
    </div>





    <div class="form-group " *ngIf="!editMode">
      <label class="control-label col-sm-2" for="fechaProxPago">Fecha prox. pago:</label>
      <div class="col-sm-4">
        <span class="form-control">Todavia</span>
      </div>
    </div>

    <div class="form-group " *ngIf="!editMode" ng serve>
      <label class="control-label col-sm-2">Capital Pend:</label>
      <div class="col-sm-4">
        <span class="form-control">{{prestamo.capitalPendiente| currency}}</span>
      </div>
    </div>

    <div *ngIf="!editMode" class="form-group">
      <label class="control-label col-sm-2">Monto Atraso:</label>
      <div class="col-sm-4">
        <span class="form-control"> todavia</span>
      </div>
    </div>


    <div *ngIf="!editMode" class="form-group">
      <label class="control-label col-sm-2">Pagado Capital:</label>
      <div class="col-sm-4">
        <span class="form-control">{{prestamo.pagadoCapital| currency}} </span>
      </div>
    </div>
  </div>

 